* text=auto !eol
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
/pom.xml -text
src/main/java/de/htw/fb4/bilderplattform/business/BusinessCtx.java -text
src/main/java/de/htw/fb4/bilderplattform/business/IImageService.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/business/IMailService.java -text
src/main/java/de/htw/fb4/bilderplattform/business/IMessageService.java -text
src/main/java/de/htw/fb4/bilderplattform/business/ISearchService.java -text
src/main/java/de/htw/fb4/bilderplattform/business/ITestService.java -text
src/main/java/de/htw/fb4/bilderplattform/business/IUserService.java -text
src/main/java/de/htw/fb4/bilderplattform/business/ImageServiceImpl.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/business/MailServiceImpl.java -text
src/main/java/de/htw/fb4/bilderplattform/business/MessageServiceImpl.java -text
src/main/java/de/htw/fb4/bilderplattform/business/SearchServiceImpl.java -text
src/main/java/de/htw/fb4/bilderplattform/business/TestServiceImpl.java -text
src/main/java/de/htw/fb4/bilderplattform/business/UserServiceImpl.java -text
src/main/java/de/htw/fb4/bilderplattform/business/mail/IMail.java -text
src/main/java/de/htw/fb4/bilderplattform/business/mail/MailImpl.java -text
src/main/java/de/htw/fb4/bilderplattform/dao/AbstractDAO.java -text
src/main/java/de/htw/fb4/bilderplattform/dao/Bankaccount.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/dao/Comment.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/dao/GuestPurchase.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/dao/Image.java -text
src/main/java/de/htw/fb4/bilderplattform/dao/ImageDAOImpl.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/dao/Message.java -text
src/main/java/de/htw/fb4/bilderplattform/dao/MessageDAOImpl.java -text
src/main/java/de/htw/fb4/bilderplattform/dao/Purchase.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/dao/Purchase_Image.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/dao/Test.java -text
src/main/java/de/htw/fb4/bilderplattform/dao/TestDAOImpl.java -text
src/main/java/de/htw/fb4/bilderplattform/dao/User.java -text
src/main/java/de/htw/fb4/bilderplattform/dao/UserDAOImpl.java -text
src/main/java/de/htw/fb4/bilderplattform/dao/UserPurchase.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/spring/DBInitialization.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/spring/SpringPropertiesUtil.java -text
src/main/java/de/htw/fb4/bilderplattform/spring/SpringUserProviderService.java -text
src/main/java/de/htw/fb4/bilderplattform/spring/context/ApplicationContextProvider.java -text
src/main/java/de/htw/fb4/bilderplattform/view/TestCodebehind.java -text
src/main/java/de/htw/fb4/bilderplattform/view/composer/ImageUploadComposer.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/view/validator/RegistrationValidator.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/view/validator/UserUpdateValidator.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/view/vm/AddImageVM.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/view/vm/BannerVM.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/view/vm/GalleryVM.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/view/vm/HeaderVM.java -text
src/main/java/de/htw/fb4/bilderplattform/view/vm/RegistrationVM.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/view/vm/UserAdministrationVM.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/view/vm/UserUpdateVM.java -text svneol=unset#text/plain
src/main/java/de/htw/fb4/bilderplattform/view/vm/WebsiteLayoutVM.java -text svneol=unset#text/plain
src/main/resources/config/database/DataSource.xml -text svneol=unset#text/plain
src/main/resources/config/database/db.properties -text svneol=unset#text/plain
src/main/resources/divers.properties -text
src/main/resources/errors.properties -text
src/main/resources/log4j.properties -text svneol=unset#text/plain
src/main/resources/mail.properties -text
src/main/webapp/META-INF/MANIFEST.MF -text
src/main/webapp/WEB-INF/applicationContext-security.xml -text
src/main/webapp/WEB-INF/applicationContext.xml -text
src/main/webapp/WEB-INF/web.xml -text
src/main/webapp/WEB-INF/zk.xml -text
src/main/webapp/admin/index.zul -text
src/main/webapp/admin/userAdministration.zul -text
src/main/webapp/bannerTest.zul -text
src/main/webapp/bildergalerie.zul -text
src/main/webapp/css/banner.css -text svneol=unset#text/plain
src/main/webapp/css/styles.css -text svneol=unset#text/plain
src/main/webapp/divers/css/supersized.css -text
src/main/webapp/divers/img/back.png -text
src/main/webapp/divers/img/bg-black.png -text
src/main/webapp/divers/img/bg-hover.png -text
src/main/webapp/divers/img/button-tray-down.png -text
src/main/webapp/divers/img/button-tray-up.png -text
src/main/webapp/divers/img/forward.png -text
src/main/webapp/divers/img/nav-bg.png -text
src/main/webapp/divers/img/nav-dot.png -text
src/main/webapp/divers/img/pause.png -text
src/main/webapp/divers/img/play.png -text
src/main/webapp/divers/img/progress-back.png -text
src/main/webapp/divers/img/progress-bar.png -text
src/main/webapp/divers/img/progress.gif -text
src/main/webapp/divers/img/supersized-logo.png -text
src/main/webapp/divers/img/thumb-back.png -text
src/main/webapp/divers/img/thumb-forward.png -text
src/main/webapp/divers/js/jquery.easing.min.js -text
src/main/webapp/divers/js/supersized.3.2.7.js -text
src/main/webapp/divers/js/supersized.3.2.7.min.js -text
src/main/webapp/divers/theme/supersized.shutter.css -text
src/main/webapp/divers/theme/supersized.shutter.js -text
src/main/webapp/divers/theme/supersized.shutter.min.js -text
src/main/webapp/gallery.zul -text
src/main/webapp/images/1.jpg -text
src/main/webapp/images/1_s.jpg -text
src/main/webapp/images/2.jpg -text
src/main/webapp/images/2_s.jpg -text
src/main/webapp/images/3.jpg -text
src/main/webapp/images/3_s.jpg -text
src/main/webapp/images/Logo.png -text
src/main/webapp/images/Logo2.png -text
src/main/webapp/images/add_small.png -text
src/main/webapp/images/banner/img01.jpg -text
src/main/webapp/images/banner/img02.jpg -text
src/main/webapp/images/banner/img03.jpg -text
src/main/webapp/images/banner/img04.jpg -text
src/main/webapp/images/banner/img05.jpg -text
src/main/webapp/images/banner/img06.jpg -text
src/main/webapp/images/banner/img07.jpg -text
src/main/webapp/images/banner/next.png -text
src/main/webapp/images/banner/play.png -text
src/main/webapp/images/banner/prev.png -text
src/main/webapp/images/blank.png -text
src/main/webapp/images/delete_small.png -text
src/main/webapp/images/load.png -text
src/main/webapp/images/save.png -text
src/main/webapp/images/search.png -text
src/main/webapp/index.zul -text
src/main/webapp/js/banner.js -text svneol=unset#text/plain
src/main/webapp/layout/footer.zul -text
src/main/webapp/layout/header_menu.zul -text
src/main/webapp/layout/template.zul -text
src/main/webapp/login.zul -text
src/main/webapp/registration.zul -text
src/main/webapp/test.zul -text
src/main/webapp/timeout.zul -text
src/main/webapp/user/addImage.zul -text
src/main/webapp/user/imageUpload.zul -text
src/main/webapp/user/index.zul -text
src/main/webapp/user/userUpdate.zul -text
