.imageBig {
	width:70%;
	float: left;
}


.infoPanel {
	width:30%;
	float:right;
}

.infoPanel .imageInfo {
	height:300px;
}

.infoPanel .imageInfo .title {
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 10px;
	z-index:1;
}

.infoPanel .imageInfo .title .z-label {
  	font-family: inherit;
  	font-weight: bold;
  	line-height: 1;
  	color: inherit;
	word-wrap:break-word;
  	font-size: 31.5px;
}

.infoPanel .imageInfo .uploader {
	padding-left: 10px;
}

.infoPanel .imageInfo .uploader .z-label {
	font-family: inherit;
  	line-height: 20px;
  	color: inherit;
  	text-rendering: optimizelegibility;
  	text-color: grey;
  	font-size: 10px;
}

.infoPanel .imageInfo .closeButton {
	padding: 5px;
	z-index: 2;
}


.infoPanel .imageInfo .rating {
	padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  	
}

.infoPanel .imageInfo .rating .rating_bar {
	  padding-top: 3px;
  margin-right: 10px;
  float:left;
}

.infoPanel .imageInfo .rating .rating_bar .rating_blank {
  width: 55px;
  background: url(../images/star_x_grey.gif) 0 0 repeat-x;
}

.infoPanel .imageInfo .rating .rating_bar .rating_blank .rating_orange {
  padding-top:10px;
  padding-bottom:10px;
  height: 0px;
  background: url(../images/star_x_orange.gif) 0 0 repeat-x;
}

.infoPanel .imageInfo .rating .rating_value {

}

.infoPanel .imageInfo .buttons {
	padding-left: 10px;
  	padding-bottom: 10px;
}


.infoPanel .imageInfo .desc {
	padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 50px;
}

.infoPanel .imageInfo .desc .z-label {
  	font-family: inherit;
  	line-height: 20px;
  	color: grey;
  	text-rendering: optimizelegibility;
  	word-wrap:break-word;
  	font-size: 12px;
}

.infoPanel .comments {
  	height:90px;
 	margin-left:10px;
  	margin-right:10px;
}

.infoPanel .comments .comment_username {
	font-size:10px;
}

.infoPanel .comments .comment_stars {
	font-weight: bold;
}

.infoPanel .price_cart_button {
	height:100px;
}

.infoPanel .price_cart_button .price {
		text-align: right;
    padding: 10px;
}

.infoPanel .price_cart_button .price .price_label .z-label {
		font-size:12px;
}

.infoPanel .price_cart_button .price .price_value .z-label {
	font-family: inherit;
  	font-weight: bold;
  	line-height: 20px;
  	color: inherit;
  	text-rendering: optimizelegibility;
  	font-size: 18px;
}

.infoPanel .price_cart_button .cartButton {
	padding-left: 10px;
  padding-right: 10px;
}

.infoPanel .price_cart_button .cartButton .btn {
 	padding: 10px; 
  	width:100%;
  	font-family: inherit;
  	line-height: 20px;
  	color: white;
  	text-rendering: optimizelegibility;
  	font-size: 18px;
}












