.logo {
  padding-top:5px;
  padding-right:25px;
	height:65px;
}

.logo img {
  height:100%;
}

#header {
  width:100%;
  position:absolute;
  position:fixed;
	height:80px;
  z-index:10;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:grey;
  background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

#header_content {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 100%;
}


#content {
  z-index:1;
  position:absolute;
  width:100%;
  top:110px;
}

#content_small {
	width: 100%;
	height: 100%;
	width: 900px;
	min-width: 900px;
	margin-left: auto;
	margin-right: auto;
	
}

#content_fullsize {
	width: 100%;
	min-width:900px;
}

.container,.z-menubar-hor,.z-menubar-ver {
	border: 1px solid #D8D8D8;
	background-color: #FFFFFF;
}

.z-menubar-hor {
	width: 580px;
}

.z-menubar-ver {
	border-right: 0 none;
	width: 149px;
	height: 420px;
}

.container {
	padding: 5px;
}

.z-menu-item-body {
	padding: 5px 2px;
}

.z-menubar-ver .z-menu-body,.z-menubar-ver .z-menu-item-body {
	width: 140px !important;
}

.z-menubar-ver .z-menu-item-body .z-menu-item-inner-m,.z-menubar-ver .z-menu-body .z-menu-item-inner-m,.z-menubar-ver .z-menu-item-body .z-menu-inner-m,.z-menubar-ver .z-menu-body .z-menu-inner-m
	{
	text-align: left;
}

.mo_head {
	font-size: 24px;
	font-weight: normal;
	color: #F26522;
	margin-bottom: 0px;
}

.mo_footer {
	background: #202020;
	width: 582px;
	height: 20px;
	color: #c6c6c6;
	text-align: center;
}

.hightlight { 
	color: #1469AB; font-weight: bold; 
}
.error {
	color: red; 
}

/* site path */

div#spath {
	padding-bottom: 20px;
}

.spathtext {
	font-size: 10px;
}

/* list */

.listtext {
	font-size: 12px;
	color: #fffeee;	
}

.imgContainer {
	padding: 5px;
}

.asterisk {
	font-size:.8em;
	color:gray
}





